<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Linq.Properties.Settings.D__SQL_SQLSERVER_MSSQL13_SQLEXPRESS_MSSQL_DATA_ADVENTUREWORKS2016_DATA_MDFConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=D:\SQL\SQLSERVER\MSSQL13.SQLEXPRESS\MSSQL\DATA\ADVENTUREWORKS2016_DATA.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="Linq.Properties.Settings.AdventureWorks2016_DataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\SQL\SQLServer\MSSQL13.SQLEXPRESS\MSSQL\DATA\AdventureWorks2016_Data.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>